<a href="https://colab.research.google.com/github/yukayamaguchi18/colaboratory/blob/main/L3_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
apple = 150
print(apple)

150

In [2]:
# 変数を用いずに計算していく場合
print(150 + 300)
print((150 + 300) / 2)

450
225.0

In [3]:
# 変数を用いて計算していく場合
apple = 150
grape = 300
total = apple + grape
print(total)
print(total / 2)

450
225.0

In [4]:
# 数字型の加算
a = 1
b = 2.01
print(a + b)

3.01

In [5]:
# 数字型の減算
a = 3
b = 2
print(a - b)

1

In [6]:
# 数字型の乗算
a = 2
b = 1.03
print(a * b)

2.06

In [7]:
# 数字型の除算
a = 2
b = 1
print(a / b)

2.0

In [8]:
# 数字型のべき乗
a = 3
b = 2
print(a ** b)

9

In [9]:
# 数字型の切り捨て
a = 5
b = 2
print(a // b)

2

In [10]:
# 数字型の余り
a = 5
b = 2
print(a % b)

1

In [11]:
# 文字列の加算
a = 'WEB'
b = 'CAMP'
print(a + b)

WEBCAMP

In [12]:
# 文字列の乗算

a = 'car'
b = 3
print(a * b)

carcarcar

In [13]:
# 代入演算子を用いたコード

a = 3
b = 2
a += b
print(a)

5

In [14]:
# 空リストを作成する場合

empty_list = []

In [15]:
# データの入ったリストを作成する場合

num_list = [80, '吾郎', 3.5]
print(num_list)

[80, '吾郎', 3.5]

In [16]:
# リストに変数を代入
choco_price = 100
ice_price = 80
cake_price = 300
sweet_prices = [choco_price, ice_price, cake_price]
print(sweet_prices)

[100, 80, 300]

In [17]:
# リストからデータを取り出す
n_list = [2, 1, 8, 3]
print(n_list[3])

3

In [18]:
# リストをスライスで取り出す
# インデックスが1から8のものを1つおきに取り出す
n_list = [4, 8, 2, 1, '吾郎', 3, 9, 6, 3.8, 'k']
print(n_list[1:8:2])

[8, 1, 3, 6]

In [19]:
# 開始を省略すると先頭から

n_list = [4, 8, 2, 1, '吾郎']
print(n_list[:3:2])

[4, 2]

In [20]:
# 終了を省略すると末端まで

n_list = [4, 8, 2, 1, '吾郎']
print(n_list[2::2])

[2, '吾郎']

In [21]:
# 増分を省略すると一つずつ

n_list = [4, 8, 2, 1, '吾郎']
print(n_list[1:4])

[8, 2, 1]

In [22]:
# すべて表示
n_list = [4, 8, 2, 1, '吾郎']
print(n_list[:])

[4, 8, 2, 1, '吾郎']

In [23]:
# リストの要素の変更

n_list = [2, 1, 8, 3]
n_list[1] = 100
print(n_list)

[2, 100, 8, 3]

In [24]:
# リストの要素の追加

n_list = [2, 1, 8, 3]
n_list.append(100)
print(n_list)

[2, 1, 8, 3, 100]

In [25]:
# リスト同士の結合
a_list = [3, '吾郎', 1.5, 9]
b_list = [5, 2.7, '次郎', 2]
new_list = a_list + b_list
print(new_list)

[3, '吾郎', 1.5, 9, 5, 2.7, '次郎', 2]

In [26]:
# 代入演算子を使ってリストを結合
a_list = [3, '吾郎', 1.5, 9]
b_list = [5, 2.7, '次郎', 2]
a_list += b_list
print(a_list)

[3, '吾郎', 1.5, 9, 5, 2.7, '次郎', 2]

In [27]:
# インデックスを指定してリストの要素を削除

n_list = [2, 1, 8, 3]
del n_list[1]
print(n_list)

[2, 8, 3]

In [28]:
# 要素を指定してリストの要素を削除
# removeを使用する場合、削除する要素がリスト内に複数あると、
# 最初に現れる要素しか削除されない
n_list = [2, 1, 8, 3]
n_list.remove(2)
print(n_list)

[1, 8, 3]

In [29]:
# リストの要素のソート①（昇順）

n_list = [2, 1, 8, 3]
n_list.sort()
print(n_list)

[1, 2, 3, 8]

In [30]:
# リストの要素のソート②（降順）

n_list = [2, 1, 8, 3]
n_list.sort(reverse=True)
print(n_list)

[8, 3, 2, 1]

In [31]:
# リストへの要素の挿入

n_list = [2, 1, 8, 3]
n_list.insert(0, '吾郎')
print(n_list)

['吾郎', 2, 1, 8, 3]

In [32]:
# リストの要素の逆転

n_list = [2, 1, 8, 3]
n_list.reverse()
print(n_list)

[3, 8, 1, 2]

In [33]:
# 辞書型データ
n_dict = {'田中': '太郎', '年齢': 20, 2: '次郎'}

In [34]:
# データの入った辞書を作成する場合

num_dict = {'りんご': 100, 'みかん': 120, 160: '梨'}

In [35]:
# 空の辞書を作成する場合

empty_dict = {}

In [36]:
# キーでバリューを取り出す
num_dict = {'りんご': 100, 'みかん': 120, 160: '梨'}
print(num_dict['りんご'])

100

In [37]:
# 辞書の要素の変更

num_dict = {'りんご': 100, 'みかん': 120, 160: '梨'}
num_dict['りんご'] = 80
print(num_dict)

{'りんご': 80, 'みかん': 120, 160: '梨'}

In [38]:
# 辞書の要素の追加

num_dict = {'りんご': 100, 'みかん': 120, 160: '梨'}
num_dict['桃'] = 120
print(num_dict)

{'りんご': 100, 'みかん': 120, 160: '梨', '桃': 120}

In [39]:
# タプル型
n_tuple = (3, 4, 5)
print(n_tuple[0])
# タプル型のスライス
n_tuple = (3, 4, 5, 1, 7, 8)
print(n_tuple[1:5:2])

3
(4, 1)

タプル型はデータの変更・追加・削除ができない、リストではできる
辞書型のキーとして代入できる、リストではできない

セット型はデータの集合関係
ひとつのセットに重複した値を持たない
順序やインデックスの概念はない
数学的な集合として和集合等の演算ができる

In [40]:
# データの入ったセットを作成する場合

n_set = {3, '吾郎', 2.5}
print(n_set)
# set型に順番はなく、画像の順番で要素が表示されるわけではありません。

{'吾郎', 2.5, 3}

In [41]:
# 空のセットを作成する場合

empty_set = set()